.div-cart {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.div-cart i {
    font-size: 2.5rem;
}

.div-cart span {
    font-size: 1.3rem;
}

.div-cart span:nth-child(2) {
    background: #218838;
    padding: 3px 30px;
    border-radius: 20px;
    color: white;
}